venv/
/*

!.gitignore
!README.md

!dataset/
!dataset/**
dataset/images/all_frames

dataset/images/train/*
!dataset/images/train/1_frame_00001.jpg
!dataset/images/train/2_1_frame_00003.jpg
!dataset/images/train/3_1_frame_00053.jpg
!dataset/images/train/3_1_frame_00078.jpg
!dataset/images/train/3_1_frame_00091.jpg
!dataset/images/train/4_frame_00067.jpg

dataset/labels/train/*
!dataset/labels/train/1_frame_00001.txt
!dataset/labels/train/2_1_frame_00003.txt
!dataset/labels/train/3_1_frame_00053.txt
!dataset/labels/train/3_1_frame_00078.txt
!dataset/labels/train/3_1_frame_00091.txt
!dataset/labels/train/4_frame_00067.txt

dataset/images/val/*
!dataset/images/val/3_1_frame_00015.jpg
!dataset/images/val/3_1_frame_00034.jpg
!dataset/images/val/3_1_frame_00076.jpg
!dataset/images/val/4_frame_00058.jpg
!dataset/images/val/2_1_frame_00018.jpg

dataset/labels/val/*
!dataset/labels/val/3_1_frame_00015.txt
!dataset/labels/val/3_1_frame_00034.txt
!dataset/labels/val/3_1_frame_00076.txt
!dataset/labels/val/4_frame_00058.txt
!dataset/labels/val/2_1_frame_00018.txt

dataset/images/test/*
!dataset/images/test/4_frame_00039.jpg
!dataset/images/test/4_frame_00034.jpg
!dataset/images/test/3_1_frame_00048.jpg
!dataset/images/test/2_1_frame_00005.jpg
!dataset/images/test/3_2_frame_00020.jpg

dataset/labels/test/*
!dataset/labels/test/4_frame_00039.txt
!dataset/labels/test/4_frame_00034.txt
!dataset/labels/test/3_1_frame_00048.txt
!dataset/labels/test/2_1_frame_00005.txt
!dataset/labels/test/3_2_frame_00020.txt

!*.py
!*.pt
!*.yaml
!runs/
!runs/**
.DS_Store
dataset_balance/
test/
job_2620809_annotations_2025_06_28_19_08_41_yolo 1.1/

runs/detect/predict*/
